/**
    Name: utils/_fonts.scss
    Description: Define a set of font variables.
*/

$cascadia-code: 'Cascadia Code', 'Courier New', Courier, monospace;
$cascadia-code-pl: 'Cascadia Code PL', 'Courier New', Courier, monospace;
$cascadia-mono: 'Cascadia Mono', 'Courier New', Courier, monospace;
$cascadia-mono-pl: 'Cascadia Mono PL', 'Courier New', Courier, monospace;
